body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f0ed;
    color: #5F3C25;
    font-family: "Poppins", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
}

.material-icons-outlines {
    vertical-align: middle;
    line-height: 1px;
}

/* HEADER */

.header {
    grid-area: header;
    display: flex;
    height: 60px;
    background-color: #f6f0ed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 20px;
    margin-bottom: 0%;
   
}

.menu-icon {
    display: none;
}

.header-right {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: #5a321d;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2);
}

.user span {
    font-size: small;
    cursor: pointer;
    color: white;
}

.user img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 2px solid white;
}

.submenu-wrap {
    position: absolute;
    top: 8%;
    right: 1px;
    width: 180px;
    max-height: 0px;
    overflow: hidden;
    transition: filter 0.2s ease;
    transition: max-height 0.5;
}

.submenu-wrap:hover {
    filter:brightness(0.8);
}

.submenu-wrap.open-menu {
    max-height: 400px;
}

.submenu {
    background: white;
    padding: 3px;
    margin: 6px;
    border-radius: 10px;
}

.submenu-link {
    display: flex;
    align-items: center;
    color: #5F3C25;
    margin: 1px 0;
    text-decoration: none;
}

.submenu-link p {
    width: 50%;
    margin: 5px;
    text-align: left;
    cursor: pointer;
}

.submenu-link span {
    width: 20px;
    padding: 4px;
    color: #5a321d;
}

.name{
    font-weight: 450px;
    color: black;
}


/* SIDEBAR */

#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #5F3C25;
    color: white;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 0px;
}


.sidebar-title span {
    display: none;
}

.sidebar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-brand img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.sidebar-list {
    padding: 0;
    margin-top: 0px;
    align-items: center;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 15px 20px 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-list-item a {
    color: white;
    text-decoration: none;
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sidebar-list-item.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-list-item.active a,
.sidebar-list-item.active span {
    color: black;
    font-weight: bold;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
}

/* MAIN */

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 0px 20px;
}

.main-title {
    display: flex;
    justify-content: space-between;
    margin-top: 0PX;
}

.main-title p {
    font-size: 20px;
    font-weight: 450;
}

.main-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 10px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    background-color: #f6f0ed;
    box-sizing: border-box;
    border: 1px solid #5a321d;
    border-left: 7px solid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card span {
    font-size: 20px;
    font-weight: 600;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner p {
    font-size: 18px;
}

.card-inner span {
    font-size: 35px;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.chart-card {
    background-color: #f6f0ed;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #5a321d;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
}

/*--------MEDIA QUERIS-----------*/

/* Medium <= 992px */

@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 
            "header"
            "main";
    }

    #sidebar {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .sidebar-title span {
        display: inline;
    }
}

/* Small <= 768px */

@media screen and (max-width: 768px) {
    .main-card {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
    .header-left {
        display: none;
    }
}