body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f0ed;
    color: #5F3C25;
    font-family: "Poppins", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
}

.material-icons-outlines {
    vertical-align: middle;
    line-height: 1px;
}

/* HEADER */

.header {
    grid-area: header;
    display: flex;
    height: 60px;
    background-color: #f6f0ed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 20px;
    margin-bottom: 0%;
   
}

.menu-icon {
    display: none;
}

.header-right {
    display: flex;
    align-items: center;
    position: relative;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: #5a321d;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2);
}

.user span {
    font-size: small;
    cursor: pointer;
    color: white;
}

.user img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 2px solid white;
}

.submenu-wrap {
    position: absolute;
    top: 8%;
    right: 1px;
    width: 180px;
    max-height: 0px;
    overflow: hidden;
    transition: filter 0.2s ease;
    transition: max-height 0.5;
}

.submenu-wrap:hover {
    filter:brightness(0.8);
}

.submenu-wrap.open-menu {
    max-height: 400px;
}

.submenu {
    background: white;
    padding: 3px;
    margin: 6px;
    border-radius: 10px;
}

.submenu-link {
    display: flex;
    align-items: center;
    color: #5F3C25;
    margin: 1px 0;
    text-decoration: none;
}

.submenu-link p {
    width: 50%;
    margin: 5px;
    text-align: left;
    cursor: pointer;
}

.submenu-link span {
    width: 20px;
    padding: 4px;
    color: #5a321d;
}

.name{
    font-weight: 450px;
    color: black;
}


/* SIDEBAR */

#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #5F3C25;
    color: white;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 0px;
}


.sidebar-title span {
    display: none;
}

.sidebar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-brand img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.sidebar-list {
    padding: 0;
    margin-top: 0px;
    align-items: center;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 15px 20px 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-list-item a {
    color: white;
    text-decoration: none;
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sidebar-list-item.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-list-item.active a,
.sidebar-list-item.active span {
    color: black;
    font-weight: bold;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
}

/* MAIN */

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 0px 20px;
}

.main-title {
    display: flex;
    justify-content: space-between;
    margin-top: 0PX;
}

.main-title p {
    font-size: 20px;
    font-weight: 450;
}

.main-feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #5a321d;
    width: 100%;
}

.feature-left {
    background: #5a321d;
    padding: 5px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    cursor: pointer;
    transition: filter 0,2s ease;
}

.feature-left a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.feature-left:hover {
    filter: brightness(0.8);
}

.feature-right {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid #5a321d;
    border-radius: 5px;
    padding: 4px 20;
    overflow: hidden;
} 

.search input {
    background: white;
    display: flex;
    align-items: center;
    padding: 11px 11px;
    text-align: left;
    border-radius: 5px 0 0 5px;
    width: 250px;
    border: none;
    outline: none;
}

.search-input::placeholder {
    color: #5a321d;
    font-family: "Poppins", sans-serif;
    text-align: left;
    opacity: 1;
    
}

.search button {
    background: #5a321d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: filter 0.2s ease;
}

.search button:hover {
    filter: brightness(0.8);
}

.filter-container {
    position: relative;
}

.filter {
    display: flex;
    align-items: center;
    padding: 7px 9px;
    background: #5a321d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: #5a321d;
}

.menu-filter {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 180px;
    max-height: 0px;
    overflow: hidden;
    transition: filter 0.2s ease;
    display: none;
    transition: max-height 0.5;
    background: white;
    padding: 3px;
    margin: 10px 0px 0px 0px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3);
}

.menu-filter.open {
    max-height: 400px;
    display: block;
}

.filter-item {
    background: white;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    margin: 0;
    transition: filter 0.2s ease;
    cursor: pointer;
}

.filter-item:hover {
    filter: brightness(0.8);
}

.main-list {
    display: list-item;
    list-style: none;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-sizing: border-box;
    margin: 10px 0 10px 0px;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2);
    
}

.inner-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 5px 1px 5px 15px;
    border: 2px solid #5a321d;
}

.list span {
    display: block;
}

.username {
    font-weight: 700;
}

.rating {
    padding: 9px 18px;
    background: #5a321d;
    color: white;
    border-radius: 5px;
}

