body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f0ed;
    color: #5F3C25;
    font-family: "Poppins", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
}

.material-icons-outlines {
    vertical-align: middle;
    line-height: 1px;
}

/* HEADER */

.header {
    grid-area: header;
    display: flex;
    height: 60px;
    background-color: #f6f0ed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 20px;
    margin-bottom: 0;
   
}

.menu-icon {
    display: none;
}

.header-right {
    display: flex;
    align-items: center;
    position: relative;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: #5a321d;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2);
}

.user span {
    font-size: small;
    cursor: pointer;
    color: white;
}

.user img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 2px solid white;
}

.submenu-wrap {
    position: absolute;
    top: 8%;
    right: 1px;
    width: 180px;
    max-height: 0px;
    overflow: hidden;
    transition: filter 0.2s ease;
    transition: max-height 0.5;
}

.submenu-wrap:hover {
    filter:brightness(0.8);
}

.submenu-wrap.open-menu {
    max-height: 400px;
}

.submenu {
    background: white;
    padding: 3px;
    margin: 6px;
    border-radius: 10px;
}

.submenu-link {
    display: flex;
    align-items: center;
    color: #5F3C25;
    margin: 1px 0;
    text-decoration: none;
}

.submenu-link p {
    width: 50%;
    margin: 5px;
    text-align: left;
    cursor: pointer;
}

.submenu-link span {
    width: 20px;
    padding: 4px;
    color: #5a321d;
}

.name{
    font-weight: 450px;
    color: black;
}


/* SIDEBAR */

#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #5F3C25;
    color: white;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 0px;
}


.sidebar-title span {
    display: none;
}

.sidebar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-brand img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.sidebar-list {
    padding: 0;
    margin-top: 0px;
    align-items: center;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 15px 20px 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-list-item a {
    color: white;
    text-decoration: none;
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sidebar-list-item.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-list-item.active a,
.sidebar-list-item.active span {
    color: black;
    font-weight: bold;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
}

/* MAIN */

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 0px 20px;
}

.main-feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #5a321d;
    width: 100%;
    height: 70px;
    
}

.pay-name {
    font-size: 30px;
    font-weight: 600;
}

.feature-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-right a {
    text-decoration: none;
    color: white;
    background: #5a321d;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 0;
    cursor: pointer;
    transition: filter 0.2s ease;
}

.feature-right a:hover {
    filter: brightness(0.8);
}

#btnAktif {
    background: #5a321d;
    padding: 5px 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    cursor: pointer;
    transition: filter 0.2s ease;
}

#btnAktif:hover {
    filter: brightness(0.8);
}

#btnAktif.active {
    background: white;
    border: 1px solid #5a321d;
    color: #5a321d;
}

#btnNonAktif {
    background: #5a321d;
    padding: 5px 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    cursor: pointer;
    transition: filter 0.2s ease;
}

#btnNonAktif:hover {
    filter: brightness(0.8);
}

#btnNonAktif.active {
    background: white;
    border: 1px solid #5a321d;
    color: #5a321d;
}

.button {
    color: white;
    background: #5a321d;
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: filter 0.2s ease;
}

.button:hover {
    filter: brightness(0.8);
}

.main-info-item {
    display: grid;
    grid-template-columns: 0.7fr 0.5fr 0.5fr;
    gap: 20px;

}

.image-pay {
    max-height: 680px;
    height: 96%;
    width: 100%;
    border-radius: 8px;
    margin: 20px 0 0 0;
    border: 3px solid #5a321d;
}


.info-pay-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.info-pay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 20px 0 0 0;
    max-height: 150px;
    background: #f6f0ed;
    box-sizing: border-box;
    border: 1px solid #5a321d;
    border-radius: 8px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.pay-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 0px 0 0 0px;
}

.pay-text {
    font-size: 20px;
    text-align: center;
    margin: 2px 0 0 0px;
    height: auto;
    padding: 0;
    gap: 50px;
}


.info-right {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    gap: 10px;
    margin-bottom: 0;
}

.data-pay {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #f6f0ed;
    border: 1px solid #5a321d;
    padding: 0 25px;
    max-height: fit-content;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.data-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
}

.info-inti {
    font-size: 20px;
}

.info-status {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #f6f0ed;
    border: 1px solid #5a321d;
    padding: 0 25px;
    max-height: 130px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.status-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
}

.status-text {
    text-align: center;
    font-size: 20px;
    margin-top: 0;
}

.chart {
    background-color: #f6f0ed;
    margin-top: 20px;
    padding: 20px;
    max-height: 495px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #5a321d;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
}

.pop-akf {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;

}

.pop-akf.open {
    opacity: 1;
    z-index: 999;
}

.form-akf {
    background-color: #f6f0ed;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    width: 350px;
    height: 150px;
}

.inner-akf {
    display:  grid;
    grid-template-rows: auto auto;
    justify-content: space-between;
    align-items: center;
}

.text-akf {
    gap: 15px;
}

.btn-akf {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    gap: 10px;
    padding-right: 0px;
    
    bottom: 0;
    padding-top: 0px;
    margin: 5px 0;
}

#btn-cancel-akf {
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: transparent;
    background-color: #f6f0ed;
    border: 1px solid #5a321d;
    padding: 5px 7px;
    border-radius: 5px;
    color: #5a321d;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: filter 0.2s ease;
}

#btn-cancel-akf:hover {
    filter: brightness(0.8);
}

#btn-save-akf {
    font-size: 14px;
    font-weight: 600;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    bottom: 0;
    margin-top: 30px;
    background: #5a321d;
    background-color: #5a321d;
    border: 1px solid #5a321d;
    padding: 5px 7px;
    border-radius: 5px;
    color: white;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: filter 0.2s ease;
}

#btn-save-akf:hover {
    filter: brightness(0.8);
}

.pop-nkf {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;

}

.pop-nkf.open {
    opacity: 1;
    z-index: 999;
}

.form-nkf {
    background-color: #f6f0ed;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    width: 350px;
    height: 150px;
}

.inner-nkf {
    display:  grid;
    grid-template-rows: auto auto;
    justify-content: space-between;
    align-items: center;
}

.text-nkf {
    gap: 15px;
}

.btn-nkf {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    gap: 10px;
    padding-right: 0px;
    
    bottom: 0;
    padding-top: 0px;
    margin: 5px 0;
}

#btn-cancel-nkf {
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: transparent;
    background-color: #f6f0ed;
    border: 1px solid #5a321d;
    padding: 5px 7px;
    border-radius: 5px;
    color: #5a321d;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: filter 0.2s ease;
}

#btn-cancel-nkf:hover {
    filter: brightness(0.8);
}

#btn-save-nkf {
    font-size: 14px;
    font-weight: 600;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    bottom: 0;
    margin-top: 30px;
    background: #5a321d;
    background-color: #5a321d;
    border: 1px solid #5a321d;
    padding: 5px 7px;
    border-radius: 5px;
    color: white;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: filter 0.2s ease;
}

#btn-save-nkfhover {
    filter: brightness(0.8);
}