body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f0ed;
    color: #5F3C25;
    font-family: "Poppins", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
}

.material-icons-outlines {
    vertical-align: middle;
    line-height: 1px;
}

/* HEADER */

.header {
    grid-area: header;
    display: flex;
    height: 60px;
    background-color: #f6f0ed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 20px;
    margin-bottom: 0;
   
}

.menu-icon {
    display: none;
}

.header-right {
    display: flex;
    align-items: center;
    position: relative;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: #5a321d;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2);
}

.user span {
    font-size: small;
    cursor: pointer;
    color: white;
}

.user img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 2px solid white;
}

.submenu-wrap {
    position: absolute;
    top: 8%;
    right: 1px;
    width: 180px;
    max-height: 0px;
    overflow: hidden;
    transition: filter 0.2s ease;
    transition: max-height 0.5;
}

.submenu-wrap:hover {
    filter:brightness(0.8);
}

.submenu-wrap.open-menu {
    max-height: 400px;
}

.submenu {
    background: white;
    padding: 3px;
    margin: 6px;
    border-radius: 10px;
}

.submenu-link {
    display: flex;
    align-items: center;
    color: #5F3C25;
    margin: 1px 0;
    text-decoration: none;
}

.submenu-link p {
    width: 50%;
    margin: 5px;
    text-align: left;
    cursor: pointer;
}

.submenu-link span {
    width: 20px;
    padding: 4px;
    color: #5a321d;
}

.name{
    font-weight: 450px;
    color: black;
}


/* SIDEBAR */

#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #5F3C25;
    color: white;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 0px;
}


.sidebar-title span {
    display: none;
}

.sidebar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-brand img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.sidebar-list {
    padding: 0;
    margin-top: 0px;
    align-items: center;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 15px 20px 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-list-item a {
    color: white;
    text-decoration: none;
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sidebar-list-item.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-list-item.active a,
.sidebar-list-item.active span {
    color: black;
    font-weight: bold;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
}

/* MAIN */

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 0px 20px;
}

.main-feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #5a321d;
    width: 100%;
    height: 70px;
    margin-bottom: 0;
    margin-top: 0;
    
}

.order-name {
    font-size: 30px;
    font-weight: 600;
}

.main-info-order {
    display: grid;
    grid-template-columns: 0.7fr 0.5fr 0.5fr;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 0;
}

.info-left {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    gap: 5px;
}

.status-buy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 25px;
    margin-top: 20px;
    max-height: fit-content;
    background: #f6f0ed;
    border: 1px solid #5a321d;
    border-radius: 8px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.status-order {
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin: 15px 0 20px 0;
}

.image-order {
    
    height: 100%;
    width: 100%;
    max-height: 450px;
    border-radius: 8px;
    border: 3px solid #5a321d;
    margin-bottom: 0px;
}

.info-order-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0;
}

.info-order {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 25px 0 25px;
    max-height: fit-content;
    background: #f6f0ed;
    border: 1px solid #5a321d;
    border-radius: 8px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.info-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 0px;
    margin-bottom: 0;
}

.info-inti {
    font-size: medium;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0 0 0px;
    height: auto;
    padding-bottom: 10px;
    gap: 50px;
}

.info-inti p {
    gap: 10px;
}

.info-order span {
    font-size: medium;
    font-weight: 400;
    margin: 0 0 0 3px;
}

.status-pay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 25px;
    margin-top: 20px;
    max-height: fit-content;
    background: #f6f0ed;
    border: 1px solid #5a321d;
    border-radius: 8px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.status-payment {
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin: 15px 0 20px 0;
}

.info-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0;
}

.list-order {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #f6f0ed;
    border: 1px solid #5a321d;
    border-radius: 8px;
    padding-top: 0px;
    margin: 0;
    padding-bottom: 10px;
    max-height: 285px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.list-order-title {
    text-align: center;
    color: #5a321d;
    position: sticky;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.list-item {
    display: list-item;
    list-style: none;
    margin-top: 0;
    align-items: start;
    overflow-y: auto;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2);

}


.inner-list {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.list img {
    height: 45px;
    width: 65px;
    border-radius: 5px;
    margin: 5px 1px 5px 15px;
    border: 2px solid #5a321d;
}

.item {
    font-weight: 700;
}

.preview {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 10px;
}

.total {
    padding: 23px 9px;
    background: #5a321d;
    color: white;
    font-size: 13px;
    border-radius: 0 5px 5px 0;
    transition: filter 0.2s ease;
    cursor: pointer;
}

.info-total {
    display: flex;
    flex-direction: column;
    margin: 18px 0 5px 0;
    padding: 5px 5px 0 10px;
    max-height: fit-content;
    background: #f6f0ed;
    border: 1px solid #5a321d;
    border-radius: 8px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.total-title {
    text-align: center;
    margin: 3px 0;
    font-size: medium;
    font-weight: 700;
} 

.total-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    font-size: 13px;

}

.total-item-bold {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 5px;
}


