* {
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f6f0ed;
    text-decoration: none;
    display: flex;

    flex-direction: column;
    text-decoration: none;
}

/*Navbar Start*/

.header {
    grid-area: header;
    display: flex;
    height: 60px;
    background-color: #f6f0ed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 20px;
    margin-bottom: 0%;
   
}

.menu-icon {
    display: none;
}

.header-right {
    display: flex;
    align-items: center;
    position: relative;
}

.header-left h2{
    color:#5a321d;
    font-size: 25px;
    font-weight: 700;

}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: #5a321d;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2);
}

.user span {
    font-size: small;
    cursor: pointer;
    color: white;
}

.user img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 2px solid white;
}

.submenu-wrap {
    position: absolute;
    top: 8%;
    right: 1px;
    width: 180px;
    max-height: 0px;
    overflow: hidden;
    transition: filter 0.2s ease;
    transition: max-height 0.5;
}

.submenu-wrap:hover {
    filter:brightness(0.8);
}

.submenu-wrap.open-menu {
    max-height: 400px;
}

.submenu {
    background: white;
    padding: 3px;
    margin: 6px;
    border-radius: 10px;
}

.submenu-link {
    display: flex;
    align-items: center;
    color: #5F3C25;
    margin: 1px 0;
    text-decoration: none;
}

.submenu-link p {
    width: 50%;
    margin: 5px;
    text-align: left;
    cursor: pointer;
}

.submenu-link span {
    width: 20px;
    padding: 4px;
    color: #5a321d;
}

.name{
    font-weight: 450px;
    color: black;
}

/*Navbar End*/

/*topside Start*/

topside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 10px 30px;
    background: #f6f0ed;

}

.main-title {
    display: flex;
    align-items: flex-start;

    margin-top: 0PX;
}

.main-title p {
    font-size: 20px;
    font-weight: 450;
}

.main-feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #5a321d;
    width: 100%;
}

.new_but {
    text-decoration: none;
    background: #5F3C25;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    transition: filter 0.2s ease;
}

.new_but:hover{
    filter: brightness(0.85);
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid #5a321d;
    border-radius: 5px;
    padding: 2px 20;
    overflow: hidden;
    margin-bottom: 10px;
} 

.search input {
    background: white;
    display: flex;
    align-items: center;
    padding: 11px 11px;
    text-align: left;
    border-radius: 5px 0 0 5px;
    width: 250px;
    border: none;
    outline: none;
}

.search-input::placeholder {
    color: #5a321d;
    font-family: "Poppins", sans-serif;
    text-align: left;
    opacity: 1;
    
}

.search button {
    background: #5a321d;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: filter 0.2s ease;
}

.search button:hover {
    filter: brightness(0.8);
}
/*topside End*/

/*Main Start*/

main {
    display: flex;
    align-items: flex-start;
    background: #f6f0ed;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    gap: 20px;
}

.column {
    background: #5a321d;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.column h2 {
    color: #f6f0ed;
    margin-bottom: 5px;
}

.column P {
    color: #f6f0ed;
    margin-bottom: 5px;
}
.card {
    background: #f6f0ed;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    cursor: move;
    transition: filter 0.2s ease;
}

.card.dragging {
    opacity: 0.8;
}

.card:hover {
    filter: brightness(0.85);
}

.card a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 1px 1px;
    width: 100%;
    color: black;
}



   

.card-header img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    right: 100%;

}

.name {
    font-weight: 600;
}

.tags {
    margin-top: 8px;
    margin-bottom: 8px;
}

.tag-coffee { 
    background-color: black; 
    color: white; 
}

.tag-signature { 
    background-color: #ffd700; 
    color: black; 
}


.tag-snack { 
    background-color: #5a321d; 
    color:white; 
}

.tag {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 12px;
    margin-right: 5px;
    background-color: #e0e0e0; 
    color: #5a321d;
}


/*Main End*/