* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: #5F3C25;
    background: linear-gradient(to right, white, #5F3C25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 20px 0;
}

.container a{
    color: #5F3C25;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px; 
}

.container button{
    background-color: #5F3C25;
    color: white;
    padding: 10px 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: filter 0.2s ease;
}

.container button:hover {
    filter: brightness(0.75);
}

.container button.hidden{
    background-color: transparent;
    border-color: white;
}

.container form{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #EDE9E9;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 13px;
    width: 100%;
    outline: none;
}

.form-container {
    position: absolute;
    height: 100%;
    top: 0;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.sosial-icon {
    margin: 20px 0px;
}

.sosial-icon a {
    border: 1px solid #EDE9E9;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.divider {
    width: 80%;
    border-bottom: 1px solid #EDE9E9;
    line-height: 0.1px;
    text-align: center;
    margin: 10px 0 20px 0;
}

.divider span {
    font-size: 12px;
    color: #5F3C25;
    text-align: center;
    background: white;
    padding: 10px;
}


.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-image: url('../img/blogin.jpg');
    color: white;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}
